<div class="skills-container">
  <p class="has-text-left subtitle is-3">Skills</p>

  <div class="columns">
    <div class="column is-8">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skill of skills">
            <td>{{ skill.jobSkillsId }}</td>
            <td>{{ skill.jobSkillsTitle }}</td>
            <td>
              <button (click)="editSkill(skill)" class="button is-white">
                ✏️
              </button>
            </td>
            <td>
              <button
                class="delete is-danger"
                (click)="deleteSkill(skill)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-4">
      <form
        #addSkillForm="ngForm"
        (ngSubmit)="addSkill(addSkillForm)"
        class="addSkillForm is-flex mx-3"
      >
        <input
          class="input"
          type="text"
          placeholder="Text input"
          name="skillinput"
          ngModel
          [value]="editingSkill?.jobSkillsTitle"
        />
        <button type="submit" class="button is-success ml-3">Add Skill</button>
      </form>
    </div>
  </div>
</div>
