<table>
  <thead>
    <!-- <th>CompanyID</th>
    <th>CompanyName</th>
    <th>Location</th>
    <th>CandidateID</th>
    <th>CandidateName</th>
    <th>CandidatePhoneNumber</th>
    <th>CandidateEmailId</th>
    <th>CandidateAddress</th>
    <th>CandidatePreferredLocation/th>
    <th>CandidateJobSkillTitle</th>
    <th>CandidateYOE</th> -->
  </thead>
  <tbody>
    <tr *ngFor = "let company of companies">
      <td>{{company.companyId}}</td>
      <td>{{company.companyName}}</td>
      <td>{{company.location}}</td>
    </tr>
    <tr *ngFor = "let candidate of candidates">
      <td>{{candidate.candidateId}}</td>
      <td>{{candidate.fullName}}</td>
      <td>{{candidate.phoneNumber}}</td>
      <td>{{candidate.emailId}}</td>
      <td>{{candidate.address}}</td>
      <td>{{candidate.preferredLocation}}</td>
      <td>{{candidate.jobSkillTitle}}</td>
      <td>{{candidate.yearOfExperience}}</td>
    </tr>
  </tbody>
</table>