<p>selected-candidates works!</p>
<div>
    <input 
    class="input"
    type = "number"
    name = "shortListId"
    placeholder="Company Id">
    
    <button  class="button is-success ml-3" (click) = "getSelectedCandidate(7)">Get Selected Candidate</button>
</div>
<!-- <div>
    Common Name:
    <input class = "input" type = "number" name="Id" value="" [(ngModel)]="Id" id = "Id">
    <h1>{{Id}}</h1>
    <p>
      <button (click)="getSelectedCandidate(Id)">Submit</button>
      </p>
  </div> -->
